*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* share style */
.btn{
    color:#FFFFFF;
    background-color: #469165;
    font-size:16px;
    font-weight: 600;
    padding:12px 16px;
    border: none;
    border-radius:5px;
}



/* main style */
body{
    margin:0;
    padding:0;
}
.main-nav{
    max-width:1600px;
    background-color:#FFFFFF;
    padding:0px 120px;
    margin: 0 auto;
}
.parent-main-nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.parent-main-nav .nav-logo {
    max-width:139px;
    height: 60px;
}
.nav-alliment ul{
    display:flex;
    gap:32px;
}
.nav-alliment li{
    list-style: none;
}
.nav-alliment a{
    text-decoration: none;
    color:#000000;
    line-height: 152%;
    font-size: 16px;
    font-weight: medium;
}
.banner-section{
    max-width: 1600px;
    /* height:674px; */
    background-image:url(./assets/hero-bg.png);
    background-repeat:no-repeat;
    padding:115px 120px 179px;
    margin:0 auto;
}
.banner-container {
    text-align:center;
    max-width: 1140px;
    /* margin:0 auto; */
}

.banner-button .btn1{
    max-width: 229px;
    color:#276941;
    background-color:#FFFFFF;
    padding:8px 12px;
    border:none;
    border-radius:30px;
    margin-bottom:16px;
}

.banner-heading {
    color:#FFFFFF;
         margin-bottom:16px;
       font-size:40px;
       word-spacing: 1px;
}

.banner-container .banner-description{
font-size:18px;
line-height:24px;
color:#FFFFFF;
margin-bottom: 32px;
}
.banner-button1 {
    display:flex;
    gap:16px;
    justify-content:center;
   max-width: 465px;
   margin:0 auto;
}
.banner-button1  .btn2 button{
 color:#FFFFFF;
 max-width:251px;
 font-size:16px;
 padding:16px;
 font-weight:600;
 border:none;
 border-radius:5px;
}
.banner-button1  .btn3 button{
    color:#FFFFFF;
 max-width:220px;
 font-size:16px;
 padding:16px;
 font-weight:600;
background-color: transparent;
border:1px solid #FFFFFF;
}
.main-container{
 max-width: 1340px;
 margin:0 auto;
}

 .main-container h2{
     color:#001931;
     text-align: center;
    font-size:48px;
    font-weight:bold;
    margin-bottom:16px;
 }
.main-container p{
color:#627382;
font-size:16px;
text-align: center;
margin-bottom:44px;
}
.parent-card{
    display:flex;
    gap:24px;
    justify-content: space-between;
     align-items: center;
    
}
.card{
     text-align: center;
    max-width: 322px;
    max-height: 300px;
    margin:0 auto;
    border:none;
    background-color:#FFFFFF;
     padding:24px;
     border:2px solid #d6d2d26c;
     border-radius:5px;

}
.card img{
    height:32px;
    width:32px;
    padding:20px;
    background-color:#F95555;
    border-radius:50%;
    margin-bottom:16px;
}
.card h4{
    color:#001931;
    font-size:20px;
    font-weight:600;
    margin-bottom:16px;
    max-width:274px;
}
.card p{
font-size:16px;
color:#627382;
line-height:20px;
}
.brain{
    max-width: 1600px;
    margin:0 auto;
    padding:120px;
}
.brain-container{
   
 display:flex;
 gap:60px;
 max-width: 1340px;
 justify-content: space-between;
 align-items:center;
}
.brain-img img{
    width:600px;
    height:600px;
}
.brain-content {
max-width: 700px; 
margin:0 auto;
}
.brain-content p{
 line-height:20px;
 font-size:16px;
 color:#627382;
 margin-bottom:40px;
}
.brain-content h1{
color:#001931;
font-size:48px;
margin-bottom:20px;
}
.brain-card{
    display:flex; 
     gap:6px;
     align-items:center;
     margin-bottom:20px;
}
.brain-card img{
    width:20px;
    height:20px;
}
.brain-card h6{
    font-size:16px;
    color:#001931;
}
.early-excess-main{
max-width:1600px;
margin:0 auto;
/* margin-top:120px; */
}
.early-excess-container{
    max-width: 1360px;
    background-color:#F7F6F2;
    padding:80px 40px;
    margin:0 auto;
    margin-bottom:120px;
}
.early-excess-element{
    max-width:1280px;
    margin:0 auto;
    text-align:center;
}
.early-excess-element h2{
    color:#001931;
    font-size:40px;
    font-weight:bold;
    margin-bottom:16px;
}
.early-excess-element p{
    color:#627382;
    font-size:16px;
    margin-bottom:24px;
}
.early-excess-element button{
    max-width:194px;
    color:#FFFFFF;
    background-color:#469165;
    font-size:16px;
   padding:16px;
   border:none;
   border-radius:2px;
   box-shadow:-10px 10px #797a7a0e;
   margin-bottom:16px;
}
.thumbel-all{
  max-width:1600px;
    max-height: 348px;
     background-color:#001931;
    padding:120px 120px 30px 30px;
      margin:0 auto;
}
.thumbel-main{
   max-width:1360px;
    display:flex;
    /* padding:120px 120px 30px 30px;  */
    gap:700px;
    justify-content: space-around;
    align-items:center;
    margin-bottom:80px;
}
.thumbel-pic img{
max-width: 139px;
max-height: 60px;
}
.thumbel-social-link p{
    color:#FFFFFF;
    font-size:20px;
    line-height: 28px;
    margin-bottom:16px;
}
.thumbel-social-link .social-link a{
color:#F7F6F2;
margin-left:10px;
}
.thumbel-cp hr{
    max-width:1360px;
    margin:0 auto;
    color:#E5E7EB;
    margin-bottom:30px;
}
.thumbel-cp p{
    text-align:center;
    color: #FAFAFA;
    font-size:16px;
    line-height:24px;
}